[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
altair = "*"
aniso8601 = "*"
argon2-cffi = "*"
astor = "*"
astroid = "*"
attrs = "*"
backcall = "*"
base58 = "*"
beautifulsoup4 = "*"
bleach = "*"
blinker = "*"
cachetools = "*"
certifi = "*"
cffi = "*"
chardet = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
decorator = "*"
deep-translator = "*"
defusedxml = "*"
dill = "*"
distlib = "*"
entrypoints = "*"
filelock = "*"
gitdb = "*"
googletrans = "*"
h11 = "*"
h2 = "*"
hpack = "*"
hstspreload = "*"
httpcore = "*"
httpx = "*"
huggingface-hub = "*"
hyperframe = "*"
idna = "*"
importlib-metadata = "*"
importlib-resources = "*"
ipykernel = "*"
ipython = "*"
ipywidgets = "*"
isort = "*"
itsdangerous = "*"
jedi = "*"
joblib = "*"
jsonschema = "*"
jupyter-client = "*"
jupyter-core = "*"
jupyterlab-pygments = "*"
jupyterlab-widgets = "*"
lazy-object-proxy = "*"
loguru = "*"
lxml = "*"
mccabe = "*"
mistune = "*"
multiprocess = "*"
nbclient = "*"
nbconvert = "*"
nbformat = "*"
nest-asyncio = "*"
nltk = "*"
notebook = "*"
numpy = "*"
oauthlib = "*"
pandas = "*"
pandocfilters = "*"
parso = "*"
pathos = "*"
pickleshare = "*"
pipenv = "*"
platformdirs = "*"
plotly = "*"
pox = "*"
ppft = "*"
praw = "*"
prawcore = "*"
prometheus-client = "*"
prompt-toolkit = "*"
protobuf = "*"
pyarrow = "*"
pycparser = "*"
pydantic = "*"
pydeck = "*"
pylint = "*"
pyparsing = "*"
pyrsistent = "*"
python-dateutil = "*"
pytz = "*"
pywin32 ="*"
pywinpty = "*"
pyzmq = "*"
regex = "*"
requests = "*"
requests-oauthlib = "*"
retrying = "*"
rfc3986 = "*"
sacremoses = "*"
six = "*"
smmap = "*"
sniffio = "*"
soupsieve = "*"
streamlit = "*"
terminado = "*"
testpath = "*"
tokenizers = "*"
toml = "*"
toolz = "*"
torch = "*"
tornado = "*"
tqdm = "*"
traitlets = "*"
transformers = "*"
translators = "*"
tweepy = "*"
typing-extensions = "*"
tzlocal = "*"
update-checker = "*"
urllib3 = "*"
validators = "*"
virtualenv = "*"
virtualenv-clone = "*"
watchdog = "*"
wcwidth = "*"
webencodings = "*"
websocket-client = "*"
widgetsnbextension = "*"
win32-setctime = "*"
wrapt = "*"
zipp = "*"
async_generator = "*"
Flask = "*"
Flask-Cors = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
GitPython = "*"
ipython_genutils = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
Pillow = "*"
PyExecJS = "*"
Pygments = "*"
PySocks = "*"
PyYAML = "*"
Send2Trash = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = "*"

[dev-packages]

[requires]
python_version = "3.10.1"
